{% extends 'base/base_main.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/mine/css/mine.css' %}">
{% endblock %}

{% block content %}
    <div id="mine">

        <div class="fixed">
            {% if is_login %}
                <span>
                    <img src="{{ icon }}" alt="">
                </span>
                <p>{{ u_name }}</p>
            {% else %}
                <span class="glyphicon glyphicon-user"></span>
                <p class="not_login">
                    <a href="{% url 'app:loginAPI' %}">未登录</a>
                </p>
            {% endif %}
            <p class="level">
                <span class="glyphicon glyphicon-fire"></span>
                <span>等级</span>
            </p>
            <p class="collect">
                <span class="glyphicon glyphicon-heart"></span>
                <span>商品收藏</span>
            </p>
        </div>

        {% if not is_login %}
            <div id="regis">
                <a href="{% url 'app:register' %}">注册</a>
            </div>
        {% endif %}

        <div class="mine_info">
            <p>
                我的订单
                <a href="">查看全部&gt;&gt;</a>
            </p>

            <div id="nav">
                <ul>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-usd"></span>
                            </dt>
                            <dd>代付款</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-envelope"></span>
                            </dt>
                            <dd>待收货</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </dt>
                            <dd>待评价</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-transfer"></span>
                            </dt>
                            <dd>退款/收货</dd>
                        </dl>
                    </li>
                </ul>
            </div>

            <menu>
                <ul>
                    {% for i in btns %}
                        <li>
                            <dl>
                                <dt>
                                    <span class="{{ i.class_name }}"></span>
                                </dt>
                                <dd>{{ i.btn }}</dd>
                            </dl>
                        </li>
                    {% endfor %}
                </ul>
            </menu>
            {% if is_login %}
                <p>
                    <a href="{% url 'app:logoutAPI' %}">退出</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}